.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: #000;
    opacity: 20;
    box-shadow: 0 0 25px #1baacafc;
}

.shadow__btn:hover {
   top: 10px;
   background: #1caacae8;
   color: #fff;
}